<div class="container-fluid background" style="background-image: url(/assets/img/emptyPlate_bbq.jpg);background-position:center; background-repeat:no-repeat; background-size:cover">
	<div class="row">	
		<div id="intro-bar" class="col-sm-12">
			<header class=" text-center" style="margin-top:350px; margin-bottom: 50px">
				<h1>Eat Your Burger!</h1>	
				<img id="mainPic" src="/assets/img/ultimate-hamburger.jpg" alt="Your Burger" style="height: 250px; width:300px">
			</header>			
		</div>
	</div>
</div>

<div class="container-fluid" style="background-color: #b48484; padding-top: 90px; padding-left: 50px; padding-right: 50px">
	<div class="row">
		<div class="enter-section col-sm-6" style="padding-left: 10%">	
			<div>
				<h4>We have the following <br/> Burger Options <br/> today:</h4>
				<br/>
				<ul>
				{{#each burger_data}}

					<li>{{this.burger_name}}</li>		

				{{/each}} 
				</ul>
			</div>	
		</div>
		<div class="col-sm-6" style="padding-top: 55px">
			<hr>
			<form action="/burgers/create" method="POST">  <!-- Create BUTTON/OPTION -->
				<h5>Please find your burger of choice, then <br/> submit it below to receive your order.</h5>
				<input id="enter-text" class="form-control" type="text" name="burger_name" style="width:50%; float: left">
				<button id="enter-button" class="btn btn-primary" type="submit" style="background-color: #77565a; width:40%; margin-left: 10px">Submit Order</button>
			</form>
			<hr>
		</div>	
	</div>
	<hr>	

	<div class="row" style="padding-top:55px">
		<div class="task col-sm-6">
			<h4 class="text-center">Burgers Ordered:</h4>

			{{#each burger_data}}
				{{#unless this.devoured}}
				<div class="row">
					<div class="col-sm-8 text-center">
						<br/>
						<h6>{{this.id}}. {{this.burger_name}}</h6>
						<img src={{this.images}} alt="Burger Image" style="height:150px; width:150px">
						<!-- {{this.created_at}}; -->
					</div>
					<div class="col-sm-2 text-center">
						<form method="POST" action="/burgers/update?_method=PUT"> <!-- //PUT BUTTON/OPTION -->
							<br/>
							<br/>
							<input type="text" name="burger_id" value={{this.id}}>
							<br/>
							<button type="submit" class="btn btn-default">Devour it!</button>
						</form>
					</div>
				</div>

				{{/unless}} <!-- closing out the "unless >> handlbars-text" -->
			{{/each}} <!-- closing out the "each >> handlbars-text" -->
		</div>

		<div class=" task col-sm-6 text-center">
			<h4 class="text-center">Burgers Devoured:</h4>

			{{#each burger_data}}
				{{#if this.devoured}}					

					<form>
						<input class="form-control" type="text-center" placeholder="{{this.id}}. {{this.burger_name}}" readonly> <!-- USE: type="submit", WHEN wishing to implement the "DELETE" functionality -->
					</form>
				
				{{/if}}
			{{/each}}
		</div>	
	</div>		
</div>


<!-- 	EACH of the burgers.. for reference!! 

					<li>Chili-Cheeseburger</li>
					<li>Venison Burger</li>
					<li>Lamb Burger with Tzaski Sauce</li>
					<li>Seared Tuna Burger</li>
					<li>Portabella Burger</li>
					<li>Bean Burger</li>
					<li>In-n-Out Burger</li>
					<li>The Ultimate Hamburger</li>

 -->



		

